<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec=" http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Index Page</title>
</head>

<body>
    <a href="/adddata">Add Data</a>
    <table border="1">
        <thead>
            <th>Username</th>
            <th>Api Key</th>
            <th>Fullname</th>
            <th>Salary</th>
            <th>Addres</th>
            <th>Delete</th>
        </thead>
        <tbody>
            <tr th:each="data : ${datas}">
                <td th:text="${data.User.username}" />
                <td th:text="${data.User.apiKey}" />
                <td th:text="${data.DataPrivate.fullname}" />
                <td th:text="${data.DataPrivate.salary}" />
                <td th:text="${data.DataPrivate.address}" />
                <td>
                    <a th:href="@{/delete?id=}+${data.User.userid}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>